/*CSS. Make stuff look pretty! */

html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
}

#login {
	width: 320px;
	margin: auto;
	margin-top: 150px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

input[type=text],
input[type=password]{
	width:100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}