/*CSS. Make stuff look pretty! */

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
}

body {
	margin: 0;
}

#login {
	width: 320px;
	margin: auto;
	margin-top: 150px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.body-container {
	width:800px;
	margin: auto;
}

/*
  Column Stuff
*/

.column {
	float: left;
}

.col-25 {
	width: 25%;
}

.col-50 {
	width: 50%;
}

.col-75 {
	width: 75%;
}

/*
  Banner stuff
*/

.banner {
	padding: 20px;
	margin: 20px;
	border-radius: 4px;
	font-weight: 600;
	color: #31708F;
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
}

.banner.fail {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}

.banner.success {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

/*
  Button stuff
*/

input[type=button],
input[type=submit],
.button {
	background-color: white;
	padding: 8px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=button]:focus,
input[type=submit]:focus,
.button:hover,
.button:focus {
	background-color: #ddd;
}

/*
  Text input stuff
*/

input[type=text],
input[type=password]{
	width:100%;
	background-color: white;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
	border-color: #aaa;
}